
<div>
    <nav>
        <button id="dashboard">Dashboard</button>
        <button id="new-transaction">New Transaction</button>
        <button id="logout">Logout</button>
    </nav>
    {{!-- Modal space --}}
    <main>
        <div>
            <h1>{{ category.category_name }}</h1>
            <div id="available">{{ category.availableAmount }}</div> <!-- Display available amount -->
        </div>
        {{#if category.transactions.length}}
        <div>
            {{#each category.transactions as |transaction| }}
            <div>
                <h2>
                    {{ transaction.description }}
                </h2>
                <div>
                {{ transaction.amount }}
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
            <p>Add a transaction using the 'New Transaction' button</p>
        {{/if}}
    </main>
    <aside>
        {{!-- chart --}}
    </aside>
</div>
