
<div class="format-all">
    <nav>
        <a href="/dashboard"> << Dashboard</a>
        <button type="button" id="new-transaction" data-bs-toggle="modal" data-bs-target="#transaction-modal">New Transaction</button>
        <button id="logout">Logout</button>
    </nav>
    {{!-- START OF NEW TRANSACTION MODAL --}}
    <div class="modal" id="transaction-modal" aria-hidden="true" aria-labelledby="transactionModalLabel" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Make a new transaction!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="transaction-form">
                            <div class="mb-3">
                                <label for="transaction-desc">Description:</label>
                                <input type="text" class="form-control" id="transaction-desc">
                            </div>
                            <div class="mb-3">
                                <label for="transaction-amount">Amount you spent:</label>
                                <input type="text" class="form-control" id="transaction-amount">
                            </div>
                        </form>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-transaction-btn">Save Transaction</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- Modal space --}}
    <main class="dashboard">
        <div class="money-total">
            <h1>{{ category.category_name }}</h1>
            <div id="available" class="total-amount">{{ category.availableAmount }}</div> <!-- Display available amount -->
        </div>
        {{#if category.transactions.length}}
        <div>
            {{#each category.transactions as |transaction| }}
            <div class="box-single">
                <h2>
                    {{ transaction.description }}
                </h2>
                <div class="amount">
                {{ transaction.amount }}
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
            <p>Add a transaction using the 'New Transaction' button</p>
        {{/if}}
    </main>
    <aside>
        {{!-- chart --}}
    </aside>
</div>

<script src="../js/logout.js"></script>
<script src="../js/category.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
    ></script>
