<div>
    <nav>
        <button id="new-budget">New Budget</button>
        <button id="new-category">New Category</button>
        <button id="logout">Logout</button>
    </nav>
    {{!-- modal space --}}
    <main>
        {{#if budget}}
            <div>
                <h1>Available</h1>
                <div id="budget-income">{{ budget.income }}</div>
            </div>
            <div>
                {{#each budget.categories as |category| }}
                    <div>
                        <h2>
                            <a href="/category/{{ category.id }}">{{ category.category_name }}</a>
                        </h2>
                        <div id="category-{{ category.id }}">
                            {{ category.assigned }}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div>
                <p>Start a budget now by clicking the 'New Budget' button!</p>
            </div>
        {{/if}}
    </main>
    <aside>
        <div style="width: 200px;"><canvas id="budgetChart"></canvas></div>
        <script type="module" src="budgetChart.js"></script>
    </aside>
</div>
